body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000; /* Чёрный фон */
    color: #fff; /* Белый текст */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Занимает всю высоту экрана */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    cursor: pointer;
    border: 5px solid #333;
    border-radius: 10px;
    max-width: 30%; /* Картинка в 3 раза меньше */
    max-height: 30vh; /* Картинка в 3 раза меньше */
    height: auto; /* Сохраняет пропорции */
    transition: transform 0.2s ease;
    object-fit: contain; /* Сохраняет пропорции без обрезки */
}

img:hover {
    transform: scale(1.05);
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 600px) {
    h1 {
        font-size: 20px; /* Уменьшаем размер заголовка */
    }

    img {
        border-width: 3px; /* Уменьшаем толщину рамки */
        max-width: 40%; /* На мобильных картинка немного больше */
        max-height: 40vh; /* На мобильных картинка немного больше */
    }
}